@media (max-width: 1180px) {

    /* Section 5 */

}

@media (max-width: 1000px) {

    .content {
	   padding: 10% 5% 5% 10%;
    }

    nav#footer {
        padding-left: 5%;
    }

    #sec4 img {
        width: 30%;
    }

}


@media (max-width: 603px){
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}