/*
------------
RESPONSIVE
------------
*/

/*Blue Bar*/

#bigLogo{
	-webkit-animation: slideNav 1.25s; 
}

#logo{
	-webkit-animation: slideRight 1.515256s;
}

#tumblr{
	-webkit-animation: bajar 2s;
}

#facebook{
	-webkit-animation: bajar 2.1s;
}

#twitter{
	-webkit-animation: bajar 2.2s;
}


#bigLogo{
	animation: slideNav 1.25s; 
}

#logo{
	animation: slideRight 1.515256s;
}

#tumblr{
	animation: bajar 2s;
}

#facebook{
	animation: bajar 2.1s;
}

#twitter{
	animation: bajar 2.2s;
}

/*First section*/

.tryBut:hover {
	-webkit-animation: butHover 0.125s;
}

#title{
	-webkit-animation: appearTop 0.5s;
}

#product{
	-webkit-animation: appear 0.5s;
}

#cta-button{
	-webkit-animation: bounceIn 1.5s;
}

.tryBut:hover {
	animation: butHover 0.125s;
}

#title{
	animation: appearTop 0.5s;
}

#product{
	animation: appear 0.5s;
}

#cta-button{
	animation: bounceIn 1.5s;
}

/*Second section*/

#photo1:hover{
	-webkit-animation: photo1Hover 0.25s;
}

#photo2:hover{
	-webkit-animation: photo2Hover 0.25s;
}

#photo1:hover{
	animation: photo1Hover 0.25s;
}

#photo2:hover{
	animation: photo2Hover 0.25s;
}
/*fourth section*/

#about img:hover{
	-webkit-animation: picHover 0.5s;
}

#about img:hover{
	animation: picHover 0.5s;
}

#pics{
    -webkit-animation: zoomInUp 1s;
    animation: zoomInUp 1s;
}

/*hiring*/

#imgWwu{
    -webkit-animation: slideDown 0.5s;
    animation: slideDown 0.5s;
}

.job{
    -webkit-animation: bounceInRight 1s;
    animation: bounceInRight 1s;
}

/*
------------
KEYFRAMES
------------
*/

@-webkit-keyframes photo1Hover {
    0%{width:37%;}
    100%{width:39%;}
}

@-webkit-keyframes photo2Hover {
    0%{width:80%;}
    100%{width:82%;}
}

@-webkit-keyframes picHover {
    0%{opacity: 0.6;}
    100%{opacity: 1;}
}

@-webkit-keyframes butHover {
    0%{background: #009AFF;}
    100%{background-color:rgba(0,154,255,0.8);}
}

@-webkit-keyframes slideNav {
    0%{width: 100%;}
    100%{width:180px;}
}

@-webkit-keyframes appearTop {
    0% {-webkit-transform: translateY(-20%);
    	opacity: 0;}
    100% {-webkit-transform: translateY(0%);
    	opacity: 1;}
}

@-webkit-keyframes appear {
    0% {
    	opacity: 0;}
	50% {
	opacity: 0;}
    100% {
    	opacity: 1;}
}

@-webkit-keyframes bajar {
    0% {top:-120px;
    	opacity: 0;}
    100% {top:0;
    	opacity: 1;}
}

@-webkit-keyframes slideRight {
    0%{-webkit-transform: translateX(-120%);opacity: 0;}
  	50%{-webkit-transform: translateX(-120%);opacity: 0;}
    100%{-webkit-transform: translateX(0%);}
}

@-webkit-keyframes slideBottom {
    0%{opacity: 0;
    	-webkit-transform: translateY(120%);}
  
    100%{opacity: 1;
    	-webkit-transform: translateY(0%);}
}

@-webkit-keyframes slideDown {
    0%{opacity: 0;
        -webkit-transform: translateY(-120%);}
  
    100%{opacity: 1;
        -webkit-transform: translateY(0%);}
}

@keyframes photo1Hover {
    0%{width:37%;}
    100%{width:39%;}
}

@keyframes photo2Hover {
    0%{width:80%;}
    100%{width:82%;}
}

@keyframes picHover {
    0%{opacity: 0.6;}
    100%{opacity: 1;}
}

@keyframes butHover {
    0%{background: #009AFF;}
    100%{background-color:rgba(0,154,255,0.8);}
}

@keyframes slideNav {
    0%{width: 100%;}
    100%{width:180px;}
}

@keyframes linea {
    0% {transform: translateY(-120%);}

    100%{transform: translateY(0%);}
}


@keyframes appearLeft {
    0% {
    	opacity: 0;}
    50% {
    	opacity: 0;}
    100% {
    	opacity: 1;}
}

@keyframes appearTop {
    0% {transform: translateY(-20%);
    	opacity: 0;}
    100% {transform: translateY(0%);
    	opacity: 1;}
}

@keyframes appear {
    0% {
    	opacity: 0;}
	50% {
	opacity: 0;}
    100% {
    	opacity: 1;}
}

@keyframes bajar {
    0% {top:-120px;
    	opacity: 0;}
    100% {top:0;
    	opacity: 1;}
}


@keyframes know {
    0%{transform: translateY(120%);}  
    100%{transform: translateY(0%);}
}

@keyframes slideLeft {
    0%{transform: translateX(120%);}
  
    100%{transform: translateX(0%);}
}

@keyframes slideRight {
    0%{transform: translateX(-120%);opacity: 0;}
  	50%{transform: translateX(-120%);opacity: 0;}
    100%{transform: translateX(0%);}
}

@keyframes slideBottom {
    0%{opacity: 0;
    	transform: translateY(120%);}
  
    100%{opacity: 1;
    	transform: translateY(0%);}
}
