/*
------------
COLORS & DECO
------------
*/
footer{
	background-color: rgba(1,170,255,1);
	color:rgba(255,255,255,1);
	border-top-color:rgb(150,150,150);
	border-top-width: 2px;
	border-top-style: solid;
}

footer img{
	opacity: 1;
}

.row{
	color:rgba(255,255,255,1);
}

.white{
	color:#fff;
}

/*Nav blue bar*/


#navigationBar{
	background: #01AAFF;
	border-bottom:2px solid #fff;
}

#bigLogo{
	background: #fff;
}

#updiv{
		background: rgba(1,170,255,1);
}

.tNavigationButton{
	color: #fff;
	opacity: 0.9;
}

.rol:hover {
	background-color:rgba(0,200,255,0.3); 
	border:1px solid rgb(255,255,255);
}

.rol{
	background-color: rgb(1,170,255); 
	border:1px solid rgba(255,255,255,0.7);
	color: #fff; 
}

#word{
	color: #fff;
}

/*first section*/

#main-title{
	color: #515256;
}

#cta{
	color: #515256;
}


.tNormal{
	color: rgba(81,82,86,0.95);
}

.tryBut {
	background-color:#009AFF;
	color:#fff;
	border:1px solid #009AFF;
}

.tryBut:hover {
	background-color:rgba(0,154,255,0.8);
}

/*second section*/

#second{
	background: #01AAFF;
}

#features{
	color: #fff;
}

#feaText{
	opacity: 0.95;
}

/*third section*/

#third{
	background: #01AAFF;
}

.tText{
	color: #fff;
}

/*fourth section*/

#quotes{
	color: #5B5C60;
}

.tSign{
	color:  #7c7c7c;
}

/*about section*/

#about{
	background-color:rgba(255,255,255,0.95);
}

.team{
	color: #515256;	
}

.details{
	color: #515256;
}


