/*OTHER SCREEN SIZES*/



@media (max-width: 930px){

#newsletter{
	display: none;
}
/*FIRST SECTION*/

#principalNav{
	width: 100%;
	height:500px;
	z-index: 9;
}

#rebeatsLogo{
	width: 250px;
	position: relative;
	display: inline-block;
	top:20px;
	margin-bottom: 40px;
	padding-left: 20%;
	padding-right: 20%;
}

#productImage{
	width:300px;
	position: relative;
	display: inline-block;
	top:10px;
	left:0;
}

.tryIt {
	width: 250px;
	border-radius: 7px;
	display:inline-block;
	height:65px;
	line-height:61px;
	text-align:center;
}

/*SECOND SECTION*/


#featuresNav{
	width: 100%;
	height: 950px;
	position: relative;
	text-align: center;
}

#featuresLogo{
	width:35%;
	position: relative;
	display: inline-block;
	top:50px;
	left:0;
}

#featuresContainer{
	width: 90%;
	height:60%;
	position: relative;
	left:0;
	top:120px;
}

.featureContainer{
	width:100%;
	height:250px;
	position: relative;
	display: block;
	vertical-align: middle;
}

.verticalImage {
	width:100px;
	min-width: 0;
}

.verticalImage:hover {
	width:105px;
}

.horizontalImage {
	width:200px;
	min-width: 0;
}

.horizontalImage:hover {
	width:205px;
}

.featureTitle{
	width:45%;
	height: 100%;
	position: relative;
	float: right;
	display: inline-block;
	top:20%;
	padding-left:20px;
}



/*moreFeaturesNav SECTION*/

#moreFeaturesNav{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	top:50px;
}

#moreFeaturesContainer{
	width:90%;
	height: 85%;
	position:relative;
	top:12.5%;
	left: 0;
	display: inline-block;
}

.moreFeatureContainer{
	width: 90%;
	height: 350px;
	position: relative;
	display: block;
	text-align: center;
	left:0;
	margin-bottom:0px;
}

.moreFeatureText{
	width: 100%;
	height: 40%;
	position: relative;
	float: left;
	display: block;
	padding-top: 20px;
}

.moreFeatureImage{
	width:350px;
	height: 60%;
	position: relative;
	display: block;
	left:0;
}

/*FOURTH SECTION*/

#rebeatsIsNav{
	width: 100%;
	position: relative;
	text-align: center;
}

/*about section*/

#aboutNav{
	width: 90%;
	height: auto;
	position: relative;
	text-align: center;
	left:5%;
	z-index: 9;
	top:60px;
	margin-bottom: 200px;
}

#teamTitle{
	width: 80%;
	min-width:0;
	position: relative;
	display: inline-block;
	left:0;
	top: 50px;
}

#peopleContainer{
	width:100%;
	height:32.5%;
	position: relative;
	display: inline-block;
	text-align: center;
	left:0;
	top:100px;
}

.teamCol {
	width: 250px ;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

#aboutNav img{
	width: 45%;
	border-radius: 100px; /*half of the width of the image - less would round off corners*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 17.5%;
	margin-right: 17.5%;
	opacity: 0.6;
}

#jobsImage {
	display: none;
}

.job {
	width: 70%;
}

/*Typography*/

.tSubtitle {
	font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
	font-size: 22px;
}

.tryIt {
	font-family:"proxima_nova_regular", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:25px;
}

h3 {
	font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size:15px;
	text-align: center;
}

h4 {
	font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
	font-size:13px;
	text-align: center;
}


/*ANIMATION*/

@-webkit-keyframes photo1Hover {
    0%{width:100px;}
    100%{width:105px;}
}

@-webkit-keyframes photo2Hover {
    0%{width:200px;}
    100%{width:205px;}
}

@keyframes photo1Hover {
    0%{width:100px;}
    100%{width:105px;}
}

@keyframes photo2Hover {
    0%{width:200px;}
    100%{width:205px;}
}

}

@media (max-width: 550px){


#navigationBar{
	background-color: white;
	text-align: center;
	height:110px;
	border-color: rgba(0,154,255,0.5);
	border-width: 1px;
}

#bigLogo{
	position: relative;
	display: inline-block;
	width: 180px;
	height:90px;
	padding-right: 0;
	border-radius: 0px 50px 50px 0px ;
}


#logo{
 	width:200px;
 	position:relative;
 	display: inline-block;
 	top:2px;
 	margin-bottom: 5px;
 	left:0;
}

#navigationButtons{
	display: none;
}


#newsletter{
	display: none;
}

#socialButtons{
	display:none;
}

#principalNav{
	min-width: 280px;
	height:450px;
	padding-top:100px;
}

#scrollMotion{
	display:none;
}

#rebeatsLogo{
	width:150px;
	top:-30px;
	margin-bottom: 0;
}
#productImage{
	width: 90%;
	min-width: 260px;
	display: inline-block;
	margin-bottom:15px;
}

#featuresNav{
	position: relative;
	height:1000px;
}

#featuresLogo{
	width:200px;
	top:50px;
}

#featuresContainer{
	width: 90%;
	height:60%;
	position: relative;
	float: left;
	left: 5%;
	top:150px;
}

.featureContainer{
	width: 33%;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#featuresContainer{
	width: 90%;
	height:750px;
	position: relative;
	left:0;
	top:80px;
}

.featureContainer{
	width:100%;
	height:250px;
	position: relative;
	display: block;
	vertical-align: middle;
	text-align: center;
}

.verticalImage{
	width:100px;
	min-width: 0;
	height:200px;
	position: relative;
	display: inline-block;
	margin-bottom:10px; 
}

.verticalImage:hover{
	width:105px;
}

.horizontalImage{
	width:200px;
	min-width: 0;
	height:200px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.contactBox{
	width: 80%;
}
.horizontalImage:hover{
	width:205px;

}

.featureTitle{
	width:100%;
	height: 70px;
	position: relative;
	float: right;
	display: inline-block;
	top:15px;
	margin-bottom: 20px;
	padding-left:0;
}

#moreFeaturesNav{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;

}

.moreFeatureImage{
	display: none;
}

#rebeatsIsNav{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}

#aboutNav{
	height:auto; 
}

}